@page
@model Presentation.Pages.Admin.Students.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h3>Edit the student:</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EditStudentForm.Id" />
            <div class="mb-3">
                <label asp-for="EditStudentForm.FullName" class="form-label"></label>
                <input type="text" asp-for="EditStudentForm.FullName" class="form-control" />
                <span asp-validation-for="EditStudentForm.FullName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EditStudentForm.Email" class="form-label"></label>
                <input type="email" asp-for="EditStudentForm.Email" class="form-control" />
                <span asp-validation-for="EditStudentForm.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EditStudentForm.PhoneNumber" class="form-label"></label>
                <input asp-for="EditStudentForm.PhoneNumber" class="form-control" />
                <span asp-validation-for="EditStudentForm.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EditStudentForm.GroupId" class="form-label"></label>
                <select asp-for="EditStudentForm.GroupId" class="form-select" asp-items="@Model.Groups">
                    <option value="0">Select a group</option>
                </select>
                <span asp-validation-for="EditStudentForm.GroupId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a role="button" class="btn btn-secondary" asp-page="./Index" >Back to List</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
